
.formulario-tareas-container{
    display: flex;
    justify-content: center;
    
}

.formulario-tareas{
    width: 400px;
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: center;
    
}

.boton-guardar{
    align-content: center;
    align-items: center;
    text-align: center;
}