

.nav-container {
    display: flex;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px 0;
    justify-content: center;
  }

.nav {
    display: flex;
    width: 966px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .mis-tareas {
      margin-right: 5px;
    }

 .contador{
     text-align: center;
     font-size: 15px;
 }
    
